<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://getproductfunc2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4675c7ae-9c84-4eae-8c0c-9b9024c34403/resourcegroups/openhack_sl/providers/Microsoft.Web/sites/GetProductFunc2023</ResourceId>
    <UserName>$GetProductFunc2023</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://getproductfunc2023.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>